* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(banner.jpg);
  background-size: cover;
  color: white;
}

.column-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.column-wrapper div {
  flex: auto;
  width: 50%;
}

.left-wrapper {
  padding-bottom: 50px;
}

.left-wrapper h2 {
  opacity: 0.8;
  font-size: 30px;
}

.left-wrapper span {
  width: 100px;
}

.left-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.left-wrapper p {
  opacity: 0.8;
  margin-bottom: 3px;
}
.left-wrapper img {
  width: 500px;
  display: block;
  margin: 50px auto;
  position: relative;
}

.right-wrapper {
  display: block;
}

.right-wrapper img {
  width: 500px;
  display: block;
  margin: 50px auto;
  position: relative;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #5a4eff;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #ffffff;
}

.heading h2 {
  font-weight: normal;
}

.lesson-team {
  float: left;
  width: 20%;
}

.team-icon {
  position: relative;
}

.team-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.team-icon img {
  height: 200px;
  border-radius: 50%;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #ffffff;
}

.heading h3 {
  font-weight: normal;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-top {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-top div {
  float: left;
  width: 50%;
}

.footer-top img {
  width: 100px;
  height: 50px;
  margin-top: 25px;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
}

.footer-right a {
  flex: auto;
  width: 50%;
}

.end {
  float: left;
  width: 25%;
}

.fa-map-marker-alt {
  margin-top: 20px;
}

.fa-address-book {
  margin-top: 30px;
}

.fa {
  text-decoration: none;
}

.end a {
  margin-top: 10px;
  text-decoration: none;
  display: block;
}

.footer-bottom {
  border-top: 1px solid black;
}

.four {
  float: left;
}

.four input {
  width: 220px;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.four textarea {
  width: 220px;
  height: 50px;
}

.last {
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  float: left;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}

.workflow-wrapper {
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fdfdfd;
  text-align: center;


}

.workflow-heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #000000;
}

.workflow-heading h2 {
  font-size: 28px;
  font-family: serif;
}

.workflow-item {
  float: left;
  width: 25%;
}

.workflow-icon {
  position: relative;
}

.workflow-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: rgb(0, 0, 0);
}

.workflow-icon img {
  height: 100px;
}

.workflow-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 28px;
  color: #000000;
}

.vision {
  padding-top: 80px;
  padding-bottom: 80px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}
.hire {
  padding-top: 80px;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.resume {
  padding: 15px 40px;
  background-color: #1464db;
  cursor: pointer;
  box-shadow: 0 7px #223663;
}

.resume:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}