body {
    margin: 0 auto;
    box-sizing: border-box;
}

.main {
    background-color: lightblue;
    width: 100%;
    height: 1000px;
}
.header {
    background-color: whitesmoke;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 10px;
    font-family: 'Nunito Light', 'Times New Roman', Times, serif;
}
.header-right {
    float: right;
}
.header-left {
    float: left;
}
.header-right a {
    float: right;
    margin-right: 30px;
    line-height: 90px;
    text-decoration: none;
}
.header-right a:hover {
    color: black;
}
.header-left img {
    width: 100px;
    height: 50px;
    margin: 21px 0 0 40px;
    position: fixed;
}
.login {
    padding: 0px 30px;
    background-color: rgba(66, 62, 62, 0.7);
    float: right;
    margin-right: 20px;
    font-size: 18px;
}
.footer-top-right {
    float: right;
}
.footer-top {
    margin: 35px 0;
}
.footer-top img {
    width: 100px;
    height: 50px;
    margin-left: 100px;
    margin-top: 25px;
}
.footer {
    margin: 0 40px;
}
.footer-top-right a {
    float: right;
    margin-right: 180px;
}
.end {
    float: left;
    margin: 10px 0 25px 150px;
}
.fa-map-marker-alt {
    margin-top: 20px;
}
.fa-address-book {
    margin-top: 30px;
}
.fa {
    text-decoration: none;
}
.end a{
    margin-top: 10px;
    text-decoration: none;
    display: block;
}
.footer-bottom {
    border-top: 1px solid black;
}
.four{
    float: left;
}
.four input {
    width: 220px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.four textarea {
    width: 220px;
    height: 50px;
}
.last {
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    float: left;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
}
